.app-wrapper
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.section-wrapper
{
    text-align: center;
}
.photo-border
{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.photo
{
    width: 100%;
    height: 100%;
}